
*{
    border: none;
    padding: 0;
    margin: 0;
    font: 11px/1.5 tahoma,arial,'Hiragino Sans GB', '微软雅黑', 'sans-serif'; 
    list-style: none;
    text-decoration: none;
}

html, body, ol, ul{
    margin: 0; padding: 0;
}

.clear{
    clear: both;
}

.none{
    display: none;
}

button{
    display: inline-block;
    padding: 5px 12px;
    background: dodgerblue;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
}

/**********************************************/

.wbox {
    display: block;
    width: 960px;
    height: 640px;
    /* border: 1px #ddd dashed; */
}

#lgagtip {
    display: none;
    background: rgba(255,255,255,0.8);
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#lgagtip h1 {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background: beige;
    color: chocolate;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    margin-top: 280px;
}

#statlog {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #f6f6f6;
    color: #999;
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px;
    height: 20px;
    overflow: hidden;
    display: block;
    width: 95%;
    width: -webkit-fill-available;
}

.box {
    display: inline-block;
    vertical-align: top;
    width: 600px;
    height: 640px;
}
.box>div {
    padding: 10px;
}

.box.r {
    background-color: #f9f9f9;
    width: 360px;
}

h3.tt {
    font-size: 14px;
    padding: 20px 0 8px 0;
    color: slategrey;
}

.cid {
    padding: 10px 0;
    background-color: #efefef;
    border-radius: 4px;
}
.cid td {
    vertical-align: top;
}
#ufadr {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    background-color: silver;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    margin-left: 10px;
} 
.cid label {
    width: 130px;
    display: block;
    text-align: right;
    padding-right: 10px;
    color: #666;
}
.cid .addr {
    word-break: break-all;
}
.cid a {
    font-weight: bold;
    color: steelblue;
}
.cid a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.blsw {
    padding: 10px 0;
    background-image: linear-gradient(to right, #005700, #7d7804);
    border-radius: 4px;
}
.blsw table {
    width: 100%;
}
.blsw * {
    vertical-align: baseline;
}
.blsw label {
    width: 130px;
    padding-right: 10px;
    display: block;
    color: #ffffff99;
    text-align: right;
}
.blsw .amt {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
}
.blsw .cap {
    color: goldenrod;
}


.logt {
    font-size: 15px;
    font-weight: bold;
    color: cadetblue;
    margin-bottom: 10px;
}

@keyframes logPrintBackgroundFlicker {
    from { background-color:rgb(248, 248, 201); }
    50%{background-color:#fff;}
    to { background-color:rgb(248, 248, 201); }
}
.logw {
    height: 590px;
    overflow-y: scroll;
}
.flicker {
    animation: logPrintBackgroundFlicker 400ms infinite;
}
.logw p{
    font-size: 12px;
    color: #888;
    line-height: 14px;
    word-break: break-all;
}
.logw p.ok{
    color: rgb(107, 182, 107);
}
.logw p.e{
    color: indianred;
}

.bill {
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 10px;
}
.bill .meta {
    font-size: 13px;
    color: #666;
}
.bill .meta b {
    color: olivedrab;
    font-size: 13px;
    font-weight: bold;
}
.bill .bdts {
    width: 100%;
    height: 68px;
    line-height: 14px;
    font-size: 12px;
    border: 1px #ccc solid;
    margin-top: 10px;
    padding: 6px;
    cursor: text;
}
.bill #nobill {
    display: none;
    padding: 20px;
    color: gray;
    font-size: 13px;
}

/****************************************/
.clct span {
    height: 30px;
    line-height: 30px;
}
.clct span.open {
    color: mediumseagreen;
}
.clct span.close {
    color: indianred;
}

.clct .tap {
    transition: all 0.4s;
    vertical-align: middle;
    margin-right: 12px;
    display: inline-block;
    position: relative;
    height: 30px;
    border: 1px #bbb solid;
    border-radius: 100px;
    width: 62px;
    background-color: #e6e6e6;
    cursor: pointer;
}
.clct .tap b {
    transition: all 0.4s;
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: white;
    border-radius: 100px;
    box-shadow: 1px 1px 2px #00000044;
}
.clct .tap:hover {
    border-color: #999;
}

.clct .tap.open {
    transition: all 0.5s;
    background-color: dodgerblue;
    box-shadow: 1px 2px 3px #00000055 inset;
    border-color: #fff;
}
.clct .tap.open b {
    left: 34px;
}

/****************************************/

.gopay {
    position: relative;
}
.gopay input {
    width: 100%;
    height: 36px;
    padding: 0 1%;
    line-height: 36px;
    border-radius: 4px;
    border: #bbb solid 1px;
}
.gopay input.amt {
    margin-top: 10px;
    width: 77%;
}
.gopay .trsbtn {
    position: absolute;
    right: 1px;
    top: 46px;
    height: 36px;
    font-weight: bold;
    border: 1px #1b76d0 solid;
}
.gopay .trsbtn:hover{
    cursor: pointer;
    background-color: #1b76d0;
}
.gopay .trsbtn.ban {
    background-color: #ddd !important;
    border-color: #aaa !important;
}
.gopay .err {

    padding: 10px;
    font-size: 12px;
    color: red;
}

/****************************************/

.dopay {    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 960px;
    height: 640px;
    background-color: rgba(255,255,255,0.75);
}
.dopay .conb {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    display: block;
    margin: 40px 100px;
    padding: 10px 20px;
    width: 700px;
    height: 540px;
    overflow-y: scroll;
}

.dopay .ttt {
    font-size: 16px;
    font-weight: bold;
    color: #999;
    border-bottom: 1px solid #bbb;
    padding-bottom: 6px;
}

.dopay p.note {
    padding: 10px 0;
    font-size: 12px;
    color: peru;
}
.dopay p.check {
    margin-top: 10px;
    font-size: 14px;
    color: seagreen;
    font-weight: bold;
    word-break: break-all;
}
.dopay .pil {
    display: block;
    padding: 10px;
    border: 2px dashed transparent;
    border-radius: 10px;
    font-size: 13px;
}
.dopay .pil input {
    margin-right: 10px;
}

.dopay .pil:hover {
    cursor: pointer;
    background-color: #dffcdf;
}

.dopay .pil.active {
    background-color: #87c586;
    border-color: darkgreen;
    font-weight: bold;
}

.dopay .btns {
    text-align: center;
}
.dopay .btns button {
    margin: 10px;
}
.dopay .cancel {
    color: #333;
    background-color: #bbb;
}